html,
body,
#root {
  margin: 0;
  height: 100vh;
}

.app {
  padding: 15px;
  height: 100vh;
}

.dark {
  background-color: #282828;
  color: #ebdbb2;
}

.white {
  background-color: white;
  color: black;
}

button,
input {
  padding: 10px 20px;
  cursor: pointer;
}

button.button_dark {
  background-color: #4d4542;
}

button.button_light {
  background-color: #ebdbb2;
}

input.input_light {
  background-color: #cbdbb2;
}

input.input_dark {
  background-color: #3d4542;
}

button.button_dark,
input.input_dark {
  color: #ebdbb2;
  border: 1px solid #ebdbb2;
}

button.button_light,
input.input_light {
  color: #4d4542;
  border: 1px solid #4d4542;
}

